@model IEnumerable<SmartCardReader.WebUI.Models.Subject>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div>
        <table class="table table-bordered table-striped"  border="1">
            <tr>
            <th>Id</th>
            <th>Teacher_ID</th>
            <th>Teacher_Name</th>
            <th>Teacher_Surname</th>
            <th>Subject_Name</th>
                <th>Options</th>
            </tr>
            @foreach (var wiersz in Model)
            {
                <tr>
                <td>@wiersz.Id</td>
                <td>@wiersz.Teacher_ID</td>
                <td>@wiersz.Teacher_Name</td>
                <td>@wiersz.Teacher_Surname</td>
                <td>@wiersz.Subject_Name</td>
                    <td>@Html.ActionLink("Delete", "Remove", new { id = @wiersz.Id })
                        @Html.ActionLink("Edit", "Edit", new { id = @wiersz.Id })
                        @Html.ActionLink("Details", "Details", new { id = @wiersz.Id })
                        
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>